body{
    background-image: url('https://wallpaperplay.com/walls/full/8/d/5/18523.jpg')
}
h1{
    color: antiquewhite;
    text-align: center;
}
.container{
    background-image: url('https://wallpaperplay.com/walls/full/8/d/5/18523.jpg')
}
.card{
    margin-top: 30px;
}